<!DOCTYPE html>
<html
	data-th-replace="~{components/layout(title=#{purchase-form},iconClass='bi-file-earmark-arrow-up',content=~{this :: #content})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="content">
		<form data-th-action="@{/purchase}" method="post"
			data-th-object="${purchaseForm}">
			<input type="hidden" name="id" />
			<div class="row g-1 mb-2">
				<div class="col-4">
					<div class="row g-1">
						<label for="supplier" class="form-label"> <i
							class="bi bi-person"></i>&nbsp;[[#{supplier}]]
						</label>
						<div class="col-9">
							<select name="supplier" id="" class="form-select">
								<option value="" data-th-text="#{select}"></option>
								<option data-th-value="${su.id}"
									data-th-each="su : ${suppliers}" data-th-text="${su.name}"></option>
							</select>
						</div>
						<div class="col">
							<a type="button" class="btn btn-outline-primary px-4"
								data-bs-toggle="modal" data-bs-target="#supplierModal"><i
								class="bi bi-plus"></i> </a>
						</div>
						<span data-th-fields="${#fields.hasErrors('supplier')}"
							data-th-errors="*{supplier}" class="error text-danger"></span> <span
							class="error text-danger"></span>
					</div>
				</div>

				<div class="col-2 mt-2">
					<div class="form-group ">
						<label for="issuedDate" class="form-label"><i
							class="bi bi-calendar"></i>&nbsp;[[#{issueDate}]]</label><input
							type="date" data-th-field="*{issuedDate}" name="issuedDate" id=""
							class="form-control date-input" /> <span
							data-th-fields="${#fields.hasErrors(issuedDate)}"
							data-th-errors="*{issuedDate}" class="error text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row g-1 mb-2">
				<div class="col-2">
					<div class="form-group ">
						<label for="category" class="form-label"><i
							class="bi bi-stickies"></i>&nbsp;[[#{category}]] </label><select
							data-th-field="*{product.category}" name="category" id=""
							class="form-select">
							<option value="" data-th-text="#{select}"></option>
							<option data-th-value="${cat.id}"
								data-th-each="cat : ${categories}" data-th-text="${cat.name}"></option>
						</select> <span data-th-fields="${#fields.hasErrors('category')}"
							data-th-errors="*{product.category}" class="error text-danger"></span>
					</div>
				</div>
				<div class="col-2">
					<div class="form-group ">
						<label for="product" class="form-label"><i
							class="bi bi-sticky"></i>&nbsp;[[#{product}]] </label> <select
							data-th-field="*{product}" name="product" id=""
							class="form-select">
							<option value="" data-th-text="#{select}"></option>
							<option data-th-value="${p.id}" data-th-each="p : ${products}"
								data-th-text="${p.name}"></option>
						</select><span data-th-fields="${#fields.hasErrors(product)}"
							data-th-errors="*{product}" class="error text-danger"></span>
					</div>
				</div>
				<div class="col-2">
					<div class="form-group ">
						<label for="size" class="form-label"> <i
							class="bi bi-aspect-ratio"></i>&nbsp;[[#{size}]]
						</label> <select data-th-field="*{product.size}" name="size" id=""
							class="form-select">
							<option value="" data-th-text="#{select}"></option>
							<option data-th-value="${siz.id}"
								data-th-each="siz : ${sizes}" data-th-text="${siz.name}"></option>
						</select><span data-th-fields="${#fields.hasErrors('product.size')}"
							data-th-errors="*{product.size}" class="error text-danger"></span>
					</div>
				</div>
				<div class="col-2">
					<div class="form-group mb-3">
						<label for="" class="form-label"><i class="bi bi-wallet"></i>&nbsp;[[#{qty}]]
						</label> <input type="number" class="form-control" />
					</div>
				</div>
				<div class="col-2">
					<div class="form-group mb-3">
						<label for="" class="form-label"><i class="bi bi-wallet"></i>&nbsp;[[#{price}]]
						</label> <input type="number" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="form-group mb-4 d-flex justify-content-end">
					<button class="btn btn-outline-primary me-2">Save Purchase</button>
					<a href="" class="btn btn-outline-primary me-2"> <i
						class="bi bi-plus"></i>&nbsp;Add
					</a> <a href="" class="btn btn-outline-primary "> <i
						class="bi bi-file-earmark-plus"></i>
					</a>
				</div>
			</div>

		</form>
		<table class="table table-striped table-hover ">
			<thead>
				<tr>
					<th></th>
					<th>Category</th>
					<th>Product</th>
					<th>Price</th>
					<th>Qtys</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div
			data-th-replace="~{components/modal :: modal(
        'supplierModal',
        #{new-supplier},
        ~{components/input-form :: form(name = 'Supplier Name',entity='supplierForm',field='name',action = 'supplier')})}">
		</div>
	</div>
</body>
</html>