<!DOCTYPE html>
<html
	data-th-replace="~{fragments/layout(title='Course List',content= ~{ :: #content})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="content" class="w-75">
		<div class="row">
			<form action="">
				<input type="text" class="form-input w-75" />
				<button class="btn btn-outline-primary">
					<i class="bi bi-search"></i>
				</button>

				<button class="btn btn-outline-secondary">
					<i class="bi bi-plus"></i>
				</button>
				<button class="btn btn-outline-secondary">
					<i class="bi bi-upload"></i>
				</button>
			</form>
		</div>
		<table class="table table-stripped mt-3">
			<thead>
				<tr>
					<th>Course</th>
					<th>Fees</th>
					<th>Duration</th>
					<th>Description</th>
				</tr>
			</thead>
		</table>
	</div>
</body>
</html>