<!DOCTYPE html>
<html
	data-th-replace="~{fragments/layout(title='Course Form' ,content=~{ :: #content})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="content" class="">

		<form data-th-action="@{/course}" class="w-50" data-th-object="${courseForm}" method="post">
			<fieldset>
				<legend>
					<i class="bi bi-pencil"></i>&nbsp;Course Form
				</legend>
				<div class="form-group mb-3">
					<label for="" class="form-label">Course Name</label> <input
						type="text" name="name" class="form-control" data-th-field="*{name}" />
						<span class="text-danger" data-th-errors="*{name}"></span>
				</div>
				<div class="form-group mb-3">
					<label for="" class="form-label">Level</label> <select
						class="form-select">
						<option value="">Select One</option>
						<option value=""
						 data-th-each="level : ${levels}" 
						data-th-text="${level}"
						data-th-field="*{level}"></option>
					</select>
					<span class="text-danger" data-th-errors="*{level}"></span>
				</div>
				<div class="row mb-3">
					<div class="col form-group">
						<label for="" class="form-label">Course Fees</label>
						<div class="input-group">
							<span class="input-group-text">Kyats :</span> <input
								type="number" class="form-control" 
								data-th-field="*{fees}"/>
						</div>
						<span class="text-danger" data-th-errors="*{fees}"></span>
					</div>
					<div class="col form-group mb-3">
						<label for="" class="form-label">Duration</label>
						<div class="input-group">
							<span class="input-group-text">Months :</span> <input
								type="number" class="form-control" data-th-field="*{duration}" />
						</div>
						<span class="text-danger" data-th-errors="*{duration}"></span>
					</div>
					<div class="form-group d-flex justify-content-end">
						<button class="btn btn-outline-danger">Save</button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
</body>
</html>