<!DOCTYPE html>
<html
	data-th-replace="~{components/layout(title=#{product-form},iconClass='bi-pencil',content=~{this :: #content})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="content">
		<div class="row">
			<div class="col-4">
				<form data-th-action="@{/product/update}" method="post"
					data-th-object="${productForm}">
					<input type="hidden" data-th-field="*{id}" name="id" />
					<div class="form-group mb-3">
						<div class="row g-1">
							<label for="category" class="form-label"><i
								class="bi bi-stickies"></i>&nbsp;[[#{category}]]</label>
							<div class="col-9">
								<select data-th-field="*{category}" name="category" id=""
									class="form-select">
									<option value="" data-th-text="#{select}"></option>
									<option data-th-value="${cat.id}"
										data-th-each="cat : ${categories}" data-th-text="${cat.name}"></option>
								</select>
							</div>
							<div class="col">
								<a type="button" class="btn btn-outline-primary px-4"
									data-bs-toggle="modal" data-bs-target="#catModal"><i
									class="bi bi-plus"></i> </a>
							</div>
							<span data-th-fields="${#fields.hasErrors('category')}"
								data-th-errors="*{category}" class="error text-danger"></span>
						</div>
					</div>
					<div class="form-group mb-3">
						<div class="row g-1">
							<label for="size" class="form-label"><i
								class="bi bi-aspect-ratio"></i>&nbsp;[[#{size}]]</label>
							<div class="col-9">
								<select data-th-field="*{size}" name="size" id=""
									class="form-select">
									<option value="" data-th-text="#{select}"></option>
									<option data-th-value="${siz.id}" data-th-each="siz : ${sizes}"
										data-th-text="${siz.name}"></option>
								</select>
							</div>
							<div class="col">
								<a href="#" data-bs-toggle="modal" data-bs-target="#sizeModal"
									class="btn btn-outline-primary px-4"><i class="bi bi-plus"></i></a>
							</div>
							<span data-th-fields="${#fields.hasErrors('size')}"
								data-th-errors="*{size}" class="error text-danger"></span>
						</div>
					</div>
					<div class="form-group mb-3">
						<label for="" data-th-field="*{name}"></label>
						<label for="name" class="form-label"> <i
							class="bi bi-sticky"></i>&nbsp;[[#{product}]]
						</label> <input type="text" name="name" class="form-control"
							data-th-field="*{name}" /> <span class="error text-danger"
							data-th-if="${#fields.hasErrors('name')}"
							data-th-errors="*{name}"></span>
					</div>

					<div class="form-group mb-3 d-flex justify-content-end">
						<a href="" class="btn btn-outline-primary px-4"> <i
							class="bi bi-file-earmark-plus"></i>
						</a>
						<button type="submit" class="btn btn-outline-primary ms-2">Save
							Product</button>
					</div>
				</form>
			</div>
			<div class="col">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th></th>
							<th data-th-text="#{category}">Category</th>
							<th data-th-text="#{product}">Product</th>
							<th data-th-text="#{size}">Size</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="prod,sts : ${products}" data-th-object="${prod}">
							<td data-th-text="${sts.count}"></td>
							<td data-th-text="*{category}"></td>
							<td data-th-text="*{name}"></td>
							<td data-th-text="*{size}"></td>
							<td class="text-center"><a data-th-href="@{/product/edit/__*{id}__}"
									class="icon-link"><i class="bi bi-pencil"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div
			data-th-replace="~{components/modal :: modal(
        'catModal',
        #{new-category},
        ~{components/input-form :: form(name = 'Name',entity='categoryForm',field='name',action = 'category')})}">
		</div>
		<div
			data-th-replace="~{components/modal :: modal(
        'sizeModal',
        #{new-size},
        ~{components/input-form :: form(name = 'Size',entity='sizeForm',field='name',action = 'size')})}">
		</div>
	</div>
</body>
</html>