<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<h3 data-th-text="${title}"></h3>
		</div>
		<ul class="nav">
		<li class="nav-item"><a data-th-href="@{/images}" class="nav-link">Image Test</a></li>
			<li class="nav-item"><a data-th-href="@{/dates}" class="nav-link">Date Test</a></li>
			<li class="nav-item"><a data-th-href="@{/objects}" class="nav-link">Object Test</a></li>
		</ul>
		<div class="dropdown">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
				data-th-text="#{|lang.${#locale}|}"></a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" data-th-href="@{''(lang=en_US)}" data-th-text="#{lang.en_US}">English</a>
				<li><a class="dropdown-item" data-th-href="@{''(lang=my_MM)}" data-th-text="#{lang.my_MM}">Myanmar</a></li>
			</ul>
		</div>
	</nav>
	<main class="container mt-4 p-2">
		<div data-th-replace="${content}"></div>
	</main>
</body>
</html>