<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">
   
   <context:component-scan base-package="com.jdc.mkt.dao"/>
   <context:property-placeholder location="classpath:person_dml.properties,datasource.properties"/>
   
   <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
   		<constructor-arg>
   			<bean class="com.zaxxer.hikari.HikariConfig">
   				<property name="jdbcUrl" value="${sql.url}"></property>
   				<property name="username" value="${sql.user}"></property>
   				<property name="password" value="${sql.pass}"></property>
   			</bean>
   		</constructor-arg>
   </bean>
   
   <bean id="simple" class="org.springframework.jdbc.core.simple.SimpleJdbcInsert">
   		<constructor-arg ref="template"></constructor-arg>
   		<property name="tableName" value="person_tbl"></property>
   		<property name="generatedKeyNames" value="id"></property>
   </bean>
   
   <bean id="template" class="org.springframework.jdbc.core.JdbcTemplate">
  		<constructor-arg ref="dataSource"></constructor-arg>
  </bean>
  
  <!--  <bean id="dataSource" class="com.mysql.cj.jdbc.MysqlConnectionPoolDataSource">
   		<property name="url" value="${sql.url}"></property>
   		<property name="user" value="${sql.user}"></property>
   		<property name="password" value="${sql.pass}"></property>
   </bean> -->
</beans>