<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div data-th-fragment="form(name)">
		<form action="#" class="form" method="post">
			<div class="modal-body">
				<label for="" class="form-label text-primary" data-th-text="${name}"></label> <input
					type="text" data-th-name="${name}" class="form-control" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary">Save changes</button>
				<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</form>
	</div>
</body>
</html>