<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" data-th-href="@{/common.css}" />
<title data-th-text="${title}"></title>
</head>
<body>
	<nav
		class="navbar navbar-expand-lg bg-light navbar-light d-flex justify-content-between">
		<div class="nav-brand ms-2 w-50">
			<h4 class="text-primary">Product Sale</h4>
		</div>
		<ul class="nav">
			<li class="nav-item dropdown"><a href="#"
				class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
				aria-expanded="false" data-th-text="#{product}"><i
					class="bi bi-file-earmark-fill"></i> Sale</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" data-th-href="@{/product/product-form}"
						data-th-text="#{product-form}">Product Form</a></li>
					<li><a class="dropdown-item" data-th-href="@{/product}"
						data-th-text="#{product-list}">Product List</a></li>

				</ul></li>

			<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
				aria-expanded="false" data-th-text="#{purchase}"><i
					class="bi bi-file-earmark-fill"></i> </a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" data-th-href="@{/purchase/form}"
						data-th-text="#{purchase-form}"></a></li>
					<li><a class="dropdown-item" data-th-href="@{/purchase}"
						data-th-text="#{purchase-list}"></a></li>

				</ul></li>


			<li class="nav-item dropdown"><a href="#"
				class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
				aria-expanded="false" data-th-text="#{sale}"><i
					class="bi bi-file-earmark-fill"></i> Sale</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="#"
						data-th-text="#{sale-product}">Sale Product</a></li>
					<li><a class="dropdown-item" href="#"
						data-th-text="#{sale-form}">Sale Form</a></li>
					<li><a class="dropdown-item" href="#"
						data-th-text="#{sale-list}">Sale List</a></li>

				</ul></li>
		</ul>

		<div class="dropdown">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
				data-th-text="#{|lang.${#locale}|}"></a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" data-th-href="@{''(lang=en_US)}"
					data-th-text="#{lang.en_US}">English</a>
				<li><a class="dropdown-item" data-th-href="@{''(lang=my_MM)}"
					data-th-text="#{lang.my_MM}">Myanmar</a></li>
			</ul>
		</div>
		<a href="#" class="icon-link position-relative me-4"> <i
			class="bi bi-cart-fill"></i> <span
			class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2">card</span>
		</a>
	</nav>
	<!-- content -->
	<main class="container mt-3 w-75">
		<h4 class="text-primary mb-3" data-th-text="${title}"></h4>
		<hr class="border border-primary border-2">
		<div data-th-replace="${content}"></div>
	</main>
</body>
</html>