<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title data-th-text="${title ?: _}">Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
	<link rel="stylesheet" data-th-href="@{static/css/common.css}" />
	<script data-th-src="@{/static/js/common.js}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="nav-item">
			<a data-th-href="@{/form}" class="nav-link"><i class="bi bi-pencil"></i>&nbsp; Course Form</a>
		</div>
		<div class="nav-item">
			<a data-th-href="@{/list}" class="nav-link" ><i class="bi bi-list"></i>&nbsp;Course List</a>
		</div>
	</nav>
	<div class="container mt-4 p-2">
		<div data-th-replace="${content ?: _}">
			<h2>Hello</h2>
		</div>
	</div>
</body>
</html>